body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

div * {
    margin: 0 5%;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0.5em;
    gap: 1em;
}

a {
    text-decoration: none;
    color: #1F2937;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 1em;
    padding: 0.5em;
}

.bold {
    font-weight: bold;
}

.top-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 50px;
}

.header,
.hero {
    margin-left: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;

    img {
        max-width: 60px;
        max-height: 60px;
    }

    a {
        font-size: 24px;
        max-width: 100px;
        margin-left: 0px;
        color:#F9FAF8;
    }

    #tutel {
        margin: 0% 2%;
    }

    #twitter {
        max-width: 45px;
        max-height: 45px;
    }
}

.hero {
    display: flex;
    justify-content: space-between;
    margin-right: 0%;
    margin-bottom: 50px;

    .left {
        display: flex;
        flex-flow: column wrap;
        max-width: 35%;
        margin-top: 3%;
        row-gap: 15px;
    }

    img {
        max-width: 50%;
        margin-left: 0%;
    }

    p {
        font-size: 18px;
        color: #E5E7EB;
    }

    button {
        max-width: 10em;
        font-size: 14px;
    }

}

#hero-main {
    font-size: 48px;
    font-weight: bolder;
}

.information {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    row-gap: 50px;

    .subtitle {
        display: flex;
        justify-content: center;
        font-size: 36px;
        font-weight: bolder;
        color: #1F2937;
    }
}

.bios {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    max-width: 100%;
    row-gap: 25px;
    margin-bottom: 50px;
}

.bio {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    max-width: 22.5%;
    row-gap: 5px;

    img {
        display: flex;
        align-content: center;
        width: 25vmin;
        height: 25vmin;
        border: solid #3882F6 5px;
        border-radius: 7px;
    }

    .name {
        align-self: center;
        font-size: 18px;
    }

    .desc {
        display: flex;
        flex-flow: row wrap;
        color:#1F2937;
        font-size: 16px;
        margin-inline-start: 1em;
    }
}

.bio a {
    margin: 0%;
    display: flex;
    justify-content: center;
}

.quote {
    background-color: #E5E7EB;
    padding: 75px 12%;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;

    a {
        display: flex;
        justify-content: flex-start;
        margin: 0px 2.5%;
    }
}

#attribution {
    display: flex;
    justify-content: flex-end;
    font-style: normal;
    font-size: 28px;
    margin-top: 1.5%;
}

.buttonheim {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 20%;
    background-color: #3882F6;
    border-radius: 15px;
    padding: 1.5%;
    color: #F9FAF8;

    .text {
        display: flex;
        flex-flow: column wrap;
        flex: 1;
        row-gap: 0.5em;
        margin-left: 2%;
    }

    a {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        max-width: 20%;
        margin: 1% 2%;
    }

    button {
        border: solid 2px #F9FAF8;
        padding: 0.5em;
        max-width: 300em;
        max-height: 3em;
    }

    #beeg {
        font-size: 24px;
    }

    #plea {
        color: #E5E7EB;
    }
}

.top-content,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}
